%div{id: "photo-#{photo.id}"}
  .photo-name
    = photo.name
    -if user_signed_in? and current_user.admin?
      =link_to (fa_icon 'edit'), edit_photo_path(photo.id)
      =link_to (fa_icon 'times'), photo_path(photo.id), method: :delete, remote: true
  .image-box
    = link_to (image_tag photo.image.url, class: 'image'), photo.image.url
    =fa_icon 'tags'
    -photo.tagi.each do |tag|
      %b
        = link_to "##{tag}", "/search/#{tag}"
    <a class = 'dl-link' href='
    =photo.image.url
    ' download><button class = 'btn btn-primary'><i class='fa fa-download 2x'></i> Download</button></a>
  
