= form_for @photo, html: {class: 'form-horizontal'} do |f|
  .form-group
    = f.label 'Tytuł: ', class: 'col-sm-2 control-label' 
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label 'Kategoria: ', class: 'col-sm-2 control-label' 
    .col-sm-10
      = f.select(:category, options_for_select(@categories),{}, {class: 'form-control'} )
  .form-group
    =f.label 'Tagi: ', class: 'col-sm-2 control-label' 
    .col-sm-10
      =f.text_field :tags, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Wyślij', :class=>'btn btn-primary'

=render @photo
